
@font-face {
  margin: 0;
  font-family: "Amazon Ember Display";
  src: url('AmazonEmberDisplay_Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: "Amazon Ember Display";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
